<div class="your-question">
  <p><%= @answer_to_keep %></p>
  <p><em>- You</em></p>
</div>

<div class="coach-answer">
  <p><%= @coach_answer %></p>
  <p><em>- Your coach</em></p>
</div>

<div class="link">
  <p><%= link_to "Ask something else", ask_path%></p>
</div>
